<nav class="nav-contenido">
  <div class="contenido">
    <a href="./sesion/principal">
      <img style="width: 40px; height: 40px; border-radius: 50%; margin: 10px" src="assets/images/image2.png" alt="Mi Imagen"/>
    </a>
    <h1>Bienvenido(a), {{ userData?.usuario }}</h1>
  </div>

  <div class="salida">
    <p-menu #menu [model]="itemNav" [popup]="true"></p-menu>
    <p-button class="white-icon" type="button" [rounded]="true" [text]="true" (click)="menu.toggle($event)" icon="pi pi-bars"></p-button>
  </div>
</nav>

<main class="main-contenido">
  <router-outlet></router-outlet>
</main>

<footer class="footer-contenido">
  <div class="contenido2">
    <p>Todos los derechos reservados</p>
    <p>Copyright © 2024</p>
  </div>
</footer>
