/* Estilos base */
.nav-contenido {
  display: flex;
  background: linear-gradient(180deg, #E94E1B 0%, #F39200 100%);
  justify-content: space-between;
  color: white;
  padding: 10px;
}

:host ::ng-deep .white-icon .pi {
  color: white !important;
}

.contenido {
  display: flex;
  justify-content: start;
  align-items: center;
}

.salida {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-contenido {
  display: flex;
  background: linear-gradient(360deg, #E94E1B 0%, #F39200 100%);
  justify-content: center;
  align-items: center;
  color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.contenido2 p {
  text-align: center;
}

.main-contenido {
  min-height: calc(100vh - 140px);
  padding-bottom: 60px;
}

/* Media queries para dispositivos de tamaño pequeño */
@media screen and (max-width: 768px) {
  .nav-contenido {
    align-items: center;
  }

  .footer-contenido {
    flex-direction: column;
    height: auto;
    position: static;
    width: auto;
  }
}
